* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, #e384ff, #865dff);
}
input {
  background: linear-gradient(45deg, red, #fff);
  color: #ffff;
}
/********* Section MASTER************/

/********* Section Radio *****/
.section-radio {
  position: absolute;
  top: 20%;
  right: 2%;
}
/********* Section CLOCK************/
.section-clock {
  font-family: "Press Start 2P", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #ffff;
  width: 18rem;
  position: absolute;
  top: 1%;
  left: 1%;
  border-radius: 11px;
}
.clock {
  padding: 2rem;
}
h1 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
}

/********* Section AWESOME************/
.section-awesome {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 36rem;
  margin: 0 auto;
  padding-top: 2.4rem;
}
.awesome-paragraph {
  font-family: "Press Start 2P", cursive;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

/********* Section LOADER************/
.section-loader {
  width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.loader {
  width: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #865dff;
  animation: loader 1s ease-in-out infinite;
}
.loader .dot1 {
  animation-delay: 0;
}
.loader .dot2 {
  animation-delay: 0.2s;
}
.loader .dot3 {
  animation-delay: 0.4s;
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/********* Section CARDS************/
.section-cards {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 6rem;
  width: 62rem;
  margin: 0 auto;
  padding-top: 12rem;
}
.card {
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 360px;
  background-color: #300029;
  border-radius: 8px;
}
.card h2 {
  font-family: system-ui;
  font-size: 2rem;
  color: #ffa3fd;
  text-transform: uppercase;
  text-align: center;
  z-index: 9999;
}
.card::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background-image: linear-gradient(180deg, #865dff, #e384ff);
  animation: rotate 3s linear infinite;
}
.card::after {
  content: "";
  position: absolute;
  inset: 8px;
  background-color: #300029;
  border-radius: inherit;
}
@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

/********* Section MAIN*************/
.main {
  position: relative;
  padding: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  margin-bottom: 1.2rem;
}

.test {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #000;
}

.test-two {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #000;
}
.test-one {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #000;
}
/********* Section PICTURES*************/
.section-pictures {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
  gap: 12px;
  scroll-padding: 10px;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
}

.one {
  background-image: url("../images/img-1.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.two {
  background-image: url("../images/img-2.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.three {
  background-image: url("../images/img-3.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.four {
  background-image: url("../images/img-4.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.five {
  background-image: url("../images/img-5.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.six {
  background-image: url("../images/img-6.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.seven {
  background-image: url("../images/img-7.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.eight {
  background-image: url("../images/img-8.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.section-pictures .item {
  flex: 0 0 100%;
  /* align  the item*/
  scroll-snap-align: start;
  /* stop the item*/
  scroll-snap-stop: always;
}
/********* Section Second Master************/
.section-second--master {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.glowing {
  position: relative;
  min-width: 700px;
  height: 550px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n + 1)::before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 0.1);
}

.glowing span:nth-child(3n + 2)::before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
    0 0 0 8px rgba(255, 214, 0, 0.1);
}

.glowing span:nth-child(3n + 3)::before {
  background: rgba(0, 226, 255, 1);
  box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
    0 0 0 8px rgba(0, 226, 255, 0.1);
}

.glowing span:nth-child(3n + 1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
  animation: animate 8s alternate infinite;
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
