.main {
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  margin-bottom: 3.2rem;
}

.test {
  width: 150px;
  height: 150px;
  background-color: #000;
}
.test-two {
  width: 150px;
  height: 150px;
  background-color: #000;
}
.test-one {
  width: 150px;
  height: 150px;
  background-color: #000;
}
.section-pictures {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
  gap: 12px;
  scroll-padding: 10px;
  width: 350px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.one {
  background-image: url("../images/img-1.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.two {
  background-image: url("../images/img-2.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.three {
  background-image: url("../images/img-3.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.four {
  background-image: url("../images/img-4.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.five {
  background-image: url("../images/img-5.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.six {
  background-image: url("../images/img-6.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.seven {
  background-image: url("../images/img-7.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.eight {
  background-image: url("../images/img-8.jpg");
  background-repeat: no-repeat;
  height: 150px;
}
.section-pictures .item {
  flex: 0 0 100%;
  /* align  the item*/
  scroll-snap-align: start;
  /* stop the item*/
  scroll-snap-stop: always;
}
